<ng-container [ngSwitch]="(slide$ | async)?.slideType">
    <ng-container *ngSwitchCase="SlideType.BibleVerse">
        <div class="container">
            <div class="title">
                <h1>{{ (step$ | async)?.title }}</h1>
                <h4>{{ (passage$ | async)?.reference }}</h4>
            </div>
            <div class="scripture-styles" [innerHTML]="(passage$ | async)?.content"></div>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="SlideType.Question">
        <div class="container">
            <div class="title">
                <h1>{{ (step$ | async)?.title }}</h1>
                <h4>{{ (slide$ | async)?.title }}</h4>
            </div>
            <textarea rows="15" cols="39">{{ (slide$ | async)?.response}}</textarea>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="SlideType.FollowUp">
        <div class="container">
            <h1>Finished!</h1>
            <h4>Follow up with Steve</h4>
            <app-avatar></app-avatar>
            <button routerLink="/" class="btn btn-primary">Next Step</button>
        </div>
    </ng-container>

    <div class="nav-controls-container">
        <div class="nav-controls">
            <button class="btn btn-primary" [disabled]="!previousEnabled()" (click)="previous()">
                <i class="bi bi-arrow-left"></i>
            </button>
            <button class="btn btn-primary" [disabled]="!nextEnabled()" (click)="next()">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</ng-container>
